<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337195797630-5uip4gbjgkss3hig8uv90hjj5nquu0a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337195797630-5uip4gbjgkss3hig8uv90hjj5nquu0a2</string>
	<key>API_KEY</key>
	<string>AIzaSyDBGFnk5fbyiVNX8o-ODRMT9_7gX3Uo1hA</string>
	<key>GCM_SENDER_ID</key>
	<string>337195797630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abed.rider</string>
	<key>PROJECT_ID</key>
	<string>driveta-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>driveta-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337195797630:ios:483a5995bda46bdc555c2f</string>
	<key>DATABASE_URL</key>
	<string>https://driveta-v2-default-rtdb.firebaseio.com</string>
</dict>
</plist>